.cont{
    display:flex;
    flex-wrap: wrap;
}

.box{
    margin:5px;
    border-width: thick;
    border-style: solid;
    flex-grow: 5;
    width: 50%;
    text-align: center;
    border-radius: 25px;
    display: flex;
    justify-content: center;
}
.butbox{
    margin:5px;
    flex-grow: 5;
    width: 50%;
    text-align: center;
    border-radius: 25px;
}
.boxend{
    max-width:25%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom:50px;
    border-color: rgb(0, 0, 0);
    border-width: thick;
    border-style: solid;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    justify-items: center;
    width:75%;
    height: 250px;
}
.element{
    max-width:25%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom:50px;
    border-color: rgb(0, 0, 0);
    border-width: thick;
    border-style: solid;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    width:4500px;
}

.center{
    justify-items: center;

}

.button{
    height: 50px;
    width: 49%;
}