<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
    <h1 class="element">Real Or AI?</h1>
    <div class="center">
        {%if final%}
        <h1 class="butbox">You've gotten {{scr}} /10</h1>
        <h2>This project was made to highlight how repeated exposure to AI can make us question the natural world and scientific discoveries</h2>
        {%else%} 
        <img src="{{img_src[img]}}" class="box" width="60%" height="60%"><br><br>
        {% if explanation %}
        <div class="butbox">
            <h3 >{{ans}}</h2>
            <h3 >{{explanation}}</h2>
            <form  action="/" method="POST"><input type="submit" class="button" name="next1" value="Next"></form>
        </div>
        {%else%}
        <div class="butbox">
            <form action="/answer" method="POST">
                <input type="submit" class="button" name="AI1" value="AI">
                <input type="submit" class="button" name="Real1" value="Real"><br><br>
            </form>
        </div>
        {% endif %}
        <h3 class="element" style="display:flex;align-items:end;">You've gotten {{scr}} /10</h3>
        {%endif%}
    </div>
</body>
</html>